*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container-fluid{
    height: 640px;
    background-image: url(./OIP\ \(1\).jpg);
    background-position: center;
    background-size: cover;
}